

@font-face {
    font-family: 'Red Hat Display';
    src: url("../fonts/RedHatDisplayExtraBold.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url("../fonts/RedHatDisplayExtraBoldItalic.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url("../fonts/RedHatDisplayLight.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url("../fonts/RedHatDisplayLightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url("../fonts/RedHatDisplayRegular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url("../fonts/RedHatDisplayItalic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url("../fonts/RedHatDisplayMedium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url("../fonts/RedHatDisplayMediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Display';
    src:url("../fonts/RedHatDisplaySemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src:url("../fonts/RedHatDisplaySemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url("../fonts/RedHatDisplayBold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url("../fonts/RedHatDisplayBoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}
